@media screen{
    body {
    
    }
}

body {
    background-color: #CCCCCC;
    width: 300px;

}

h1 {
    font-size: 16pt;

}

h2 {
    display: block;
    align-items: baseline;
    
}

h3 {
    color: red;
    border-style: dashed;
    border-color: transparent;
    display:  block;
}