body {
  background: #f8f8f8;
  font-family: 'SourceSans';
  -webkit-font-smoothing: subpixel-antialiased;
  color: #4d4d4d;
}
a {
  color: #1c6eb0;
  text-decoration: none;
}
a:hover {
  color: #3689cc;
  text-decoration: underline;
}
header.main {
  height: 170px;
  width: 960px;
  top: 0;
  z-index: 100;
  background: #f8f8f8;
  position: relative;
  margin: 0 auto;
}
header hgroup:before {
  content: '';
  background: url("../images/brackets_logo.svg") no-repeat 0 0;
  position: absolute;
  left: -110px;
  top: 10px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
header hgroup {
  position: absolute;
  left: 170px;
  top: 20px;
  display: block;
  height: 120px;
  color: #3c4042;
  text-shadow: 0 1px 0 #fff;
}
header hgroup h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 21px 0 0 0;
  letter-spacing: 0;
  line-height: 60px;
}
header h1 a, header h1 a:hover {
  color: #3c4042;
  text-decoration: none;
}
header h2 {
  font-size: 18px;
  font-weight: 200;
  margin: -7px 0 0 4px;
  color: #808080;
  padding: 0;
  letter-spacing: 0;
}
header nav {
  position: absolute;
  top: 76px;
  right: 50px;
}
header nav li {
  display: inline-block;
  margin: 0 0 0 38px;
}
header nav li a {
  cursor: pointer;
  color: #666;
  text-decoration: none;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
}
header nav li a:hover {
  color: #1a1a1a;
}

#content {
	width: 840px;
	position: relative;
	margin: 0 auto;
}

#content article {
	width: 500px;
	padding: 25px;
}

#content article h2 {
	font-size: 21px;
	font-weight: bold;
}
#content article header {
	margin-bottom: 20px;
}
#content article header .byline {
	text-indent: 5px;
}

#content article section {
	padding-left: 5px;
}

#content article section p {
	margin-bottom: 8px;
}

footer.main {
	width: 960px;
	position: relative;
	margin: 0 auto;
}