body {
  background: #f8f8f8;
  font-family: 'SourceSans';
  -webkit-font-smoothing: subpixel-antialiased;
  color: #4d4d4d;
}

a {
  color: #1c6eb0;
  text-decoration: none;
}

a:hover {
  color: #3689cc;
  text-decoration: underline;
}

header {
  height: 170px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #f8f8f8;
}

header .shadow {
  bottom: -9px;
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

header .site {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

header hgroup {
  position: absolute;
  left: 170px;
  top: 20px;
  display: block;
  width: 280px;
  height: 120;
  color: #3c4042;
  text-shadow: 0 1px 0 #fff;
}

header hgroup:before {
  content: '';
  background: url("../images/brackets_logo.svg") no-repeat 0 0;
  position: absolute;
  left: -110px;
  top: 10px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

header hgroup h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 21px 0 0 0;
  letter-spacing: 0;
  line-height: 60px;
}

header hgroup h1 a,
header hgroup h1 a:hover {
  color: #3c4042;
  text-decoration: none;
}

header hgroup a,
header hgroup a:hover {
  text-decoration: none;
  color: #808080;
}

header h2 {
  font-size: 18px;
  font-weight: 200;
  margin: -7px 0 0 4px;
  color: #808080;
  padding: 0;
  letter-spacing: 0;
}

header nav {
  position: absolute;
  top: 76px;
  right: 50px;
}

header nav li {
  display: inline-block;
  margin: 0 0 0 38px;
}

header nav li a {
  cursor: pointer;
  color: #666;
  text-decoration: none;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
}

header nav li a:hover {
  color: #1a1a1a;
}

#hero {
  height: 360px;
  width: 100%;
  background: #eaeaea;
  position: relative;
  margin: 170px 0 0 0;
}

#hero:before {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #dfe2e2;
  content: '';
  right: 0;
}

#hero .shadow {
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
}

#hero .site {
  width: 960px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#hero .indicator {
  height: 38px;
  width: 50%;
  content: '';
  background: #d0d5d5;
  display: block;
  position: absolute;
  top: 100px;
  right: 0;
  box-shadow: 0 -1px 0 #bdc2c2, 0 1px 0 #eef0f0;
}

#hero .slides {
  height: 100%;
  width: 710px;
  background: #eaeaea;
  position: relative;
  overflow: hidden;
}

#hero .slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #4d4d4d;
  -webkit-transition: top 0.25s ease-in-out;
  background-color: #eaeaea;
}

#hero .slides .slide.before {
  top: -100%;
  left: 0;
  z-index: 1;
}

#hero .slides .slide.selected {
  top: 0;
  left: 0;
  z-index: 3;
}

#hero .slides .slide.after {
  top: 100%;
  left: 0;
  z-index: 2;
}

#hero .slides img,
#hero .slides h3,
#hero .slides p {
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

#hero .slides h3 {
  font-size: 24px;
  font-weight: normal;
}

#hero .slides p {
  font-size: 18px;
  font-weight: 200;
}

#hero #web-focused img {
  left: 124px;
  top: 36px;
  width: 280px;
  height: 288px;
}

#hero #web-focused h3 {
  left: 430px;
  top: 97px;
  width: 185px;
}

#hero #web-focused p {
  left: 430px;
  top: 160px;
  width: 220px;
}

#hero #innovative img {
  left: 300px;
  top: 2px;
  height: 354px;
  width: 408px;
}

#hero #innovative h3 {
  left: 70px;
  top: 88px;
  width: 158px;
}

#hero #innovative p {
  left: 70px;
  top: 150px;
  width: 200px;
}

#hero #standards-based img {
  left: 75px;
  top: 80px;
  width: 301px;
  height: 205px;
}

#hero #standards-based h3 {
  left: 430px;
  top: 88px;
  width: 240px;
}

#hero #standards-based p {
  left: 430px;
  top: 150px;
  width: 220px;
}

#hero #extensible img {
  left: 377px;
  top: 79px;
  width: 278px;
  height: 202px;
}

#hero #extensible h3 {
  left: 130px;
  top: 88px;
  width: 190px;
}

#hero #extensible p {
  left: 130px;
  top: 127px;
  width: 190px;
}

#hero nav {
  background: #dfe2e2;
  position: absolute;
  width: 250px;
  height: 100%;
  right: 0;
  top: 0;
}

#hero nav ul {
  margin-top: 100px;
  list-style: none;
}

#hero nav ul li {
  height: 38px;
  font-weight: 200;
  font-size: 18px;
  background-image: url("../images/hero_bullet_sprites.svg");
  background-repeat: no-repeat;
  background-position: 18px 0;
  position: relative;
}

#hero nav ul li a {
  display: block;
  text-shadow: 0 1px 0 #fff;
  color: #777979;
  width: 100%;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 10px 60px;
  height: 18px;
}

#hero nav ul li:nth-child(1) {
  background-position: 18px -40px;
}

#hero nav ul li:nth-child(2) {
  background-position: 18px -120px;
}

#hero nav ul li:nth-child(3) {
  background-position: 18px -200px;
}

#hero nav ul li:nth-child(4) {
  background-position: 18px -280px;
}

#hero nav ul li.selected {
  position: relative;
  box-shadow: 0 -1px 0 #bdc2c2, 0 1px 0 #eef0f0;
  background-color: #d0d5d5;
}

#hero nav ul li.selected:nth-child(1) {
  background-position: 18px 0px;
}

#hero nav ul li.selected:nth-child(2) {
  background-position: 18px -80px;
}

#hero nav ul li.selected:nth-child(3) {
  background-position: 18px -160px;
}

#hero nav ul li.selected:nth-child(4) {
  background-position: 18px -240px;
}

#hero nav ul li.selected:before {
  content: '';
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #eaeaea;
  left: 0;
  top: 9px;
}

#hero nav ul li.selected a {
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  color: #000;
  cursor: default;
}

.wrap {
  width: 820px;
  margin: 0 auto;
  padding: 10px 0;
}

.wrap ol,
.wrap ul {
  margin: 10px 0 0 30px;
}

.wrap li {
  margin: 5px 0;
}

.wrap h2 {
  font-size: 36px;
  font-weight: normal;
  margin: 10px 0px 10px 0px;
}

.wrap.icon {
  padding: 8px 0 0 55px;
  background-image: url("../images/icons_sprite.svg");
  background-repeat: no-repeat;
  height: 40px;
}

.wrap.icon-about {
  background-position: 0 0;
}

.wrap.icon-contribute {
  background-position: 0 -48px;
}

.wrap.icon-mailing-list {
  background-position: 0 -96px;
}

.wrap.icon-download {
  background-position: 0 -144px;
}

.wrap.icon-quick-links {
  background-position: 0 -192px;
}

.wrap h3 {
  font-size: 21px;
  margin: 26px 0px 8px 0px;
  font-weight: normal;
}

.wrap p,
.wrap li {
  line-height: 30px;
  color: #666;
  font-weight: 200;
}

.wrap p {
  margin: 5px 0;
}

.wrap .list.mailing-list {
  margin: 10px 0 10px 30px;
}

.wrap .list.mailing-list li {
  list-style: none;
  background: #eaeaea;
  padding-left: 10px;
  width: 600px;
}

.wrap .list.mailing-list li strong {
  display: inline-block;
  width: 180px;
}

.wrap .list.mailing-list li a {
  display: inline-block;
  background: #fff;
  padding-left: 10px;
  width: 407px;
}

a.scroll-point {
  position: relative;
  top: -170px;
}

footer {
  width: 820px;
  margin: 0 auto 2em;
  padding: 30px 0 10px;
  clear: both;
}

footer .language-switcher {
  position: relative;
  top: 1.3em;
  display: none;
}

.language-switcher button {
  font-family: 'SourceSans';
  line-height: 2;
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em 0 1.7em;
  width: 200px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: 1px solid #aaa;
  border-color: rgba(0,0,0,0.3);
  border-bottom-color: #777;
  border-bottom-color: rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.language-switcher button:before {
  content: "▲";
  border-left: 0.075em solid rgba(0,0,0,0.1);
  float: right;
  font-size: .7em;
  line-height: 2.7;
  font-style: normal;
  font-weight: normal;
  margin-left: .5em;
  padding-left: .9em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
}

.language-switcher button:hover,
.language-switcher button:focus,
.language-switcher li:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), color-stop(49%, rgba(255,255,255,0.2)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.15)));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
}

.language-switcher button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
}

.language-switcher ul {
  position: absolute;
  min-width: 198px;
  z-index: 100;
  display: none;
  border: 1px solid #aaa;
  border-color: rgba(0,0,0,0.3);
  background: #f0f0f0;
  list-style-type: none;
  font-size: .8em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

.language-switcher li {
  cursor: pointer;
  padding: .8em 1em .8em 2em;
}

.language-switcher li.active:before {
  content: "✓";
  position: absolute;
  left: .8em;
}

footer .license {
  font-size: 12px;
  float: right;
}

.list-container.quick-links {
  width: 40%;
  float: left;
  margin: 10px 0 0 20px;
}

.list-container.quick-links ul {
  list-style: none;
}

#about ul {
  list-style: none;
}

#about strong {
  text-transform: uppercase;
}
