body {
  width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  overflow-x: hidden;
}

/*@import you mom is cool*/
header {
  position: relative;
  height: 100px;
}

body > header hgroup {
  top: 10px;
  left: 35px;
}

header hgroup {
  width: 100%;
}

header hgroup h1 {
  font-size: 24px;
  line-height: 30px;
  position: relative;
  left: 60px;
  width: 200px;
}

header hgroup h2 {
  font-size: 14px;
  margin: -5px 0 0 2px;
  position: relative;
  left: 60px;
  width: 220px;
}

header nav .menu-dropdown {
  display: inline-block;
  float: right;
  top: -20px;
  right: 10px;
  position: relative;
}

header nav ul {
  display: none;
}

#hero {
  display: none;
}

header hgroup:before {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  left: 0px;
  top: -5px !important;
}

.list-header {
  clear: both;
}

.wrap h2 {
  font-size: 22px;
}

.wrap h3 {
  font-size: 18px;
}

.wrap .list.mailing-list {
  margin: 10px 0 10px 0;
}

.wrap .list.mailing-list li strong {
  width: 120px;
}

h2.icon {
  font-size: 24px;
  padding: 10px 0 0 0;
}

.list.mailing-list li, .list.mailing-list li strong, .wrap .list.mailing-list li a {
  width: 195px;
}

.list.mailing-list li strong {
  display: none;
}

/* zocial button */
button.zocial {
  font-size: 10px;
}

/* fork us on github */
#fork-us {
  display: none;
}

footer .language-switcher {
  float: none;
  width: 200px;
  margin: 0 auto;
}

footer .license {
  float: none;
  text-align: center;
  margin: 4em 0 0;
}