.wrap {
  width: auto;
  margin: 0 20px;
}

body > header hgroup {
  margin: 21px auto;
  position: relative;
  top: 10px;
  left: 60px;
}

body > header hgroup:before {
  top: -10px;
}

body > header .site {
  width: 100%;
}

body > header nav {
  width: 100%;
  position: absolute;
  text-align: center;
  top: auto;
  bottom: -50px;
  left: 0;
}

#hero {
  margin-bottom: 40px;
}

#hero:before {
  display: none;
}

#hero .site {
  width: 100%;
}

#hero .slides {
  width: 710px;
  margin: 0 auto;
  position: relative;
}

#hero .slide {
  width: 710px !important;
  margin: 0 auto !important;
}

#hero nav {
  position: absolute;
  top: 361px;
  background: transparent;
  width: 100%;
  left: 0;
  text-align: center;
}

#hero nav li {
  display: inline-block;
}

#hero nav ul li a {
  position: relative;
  padding: 10px 10px 0px 40px;
  width: auto;
}

#hero nav ul {
  margin-top: 0;
  list-style: none;
}

#hero nav ul li.selected:before {
  border: none;
}

#hero .indicator {
  display: none;
}

#hero nav li {
  background-position: 4px 0 !important;
}

#hero nav li:nth-child(1) {
  background-position: 4px -40px !important;
}

#hero nav li:nth-child(2) {
  background-position: 4px -120px !important;
}

#hero nav li:nth-child(3) {
  background-position: 4px -200px !important;
}

#hero nav li:nth-child(4) {
  background-position: 4px -280px !important;
}

#hero nav li.selected:nth-child(1) {
  background-position: 4px 0px !important;
}

#hero nav li.selected:nth-child(2) {
  background-position: 4px -80px !important;
}

#hero nav li.selected:nth-child(3) {
  background-position: 4px -160px !important;
}

#hero nav li.selected:nth-child(4) {
  background-position: 4px -240px !important;
}

footer {
  width: auto;
  padding: 30px 20px 10px;
}
