.CodeMirror {
    .highlight {
        background: #ecc;
    }
    .flash {
       -webkit-animation: flash 1s;
    }
}
  
@-webkit-keyframes flash {
    from {
        background: #ecc;
    }
    to {
        background: inherit;
    }
}