.brackets-pref-hints .matched-hint {
    font-weight: 500;
}
.dark .brackets-pref-hints .matched-hint {
    color: #ccc;
}

.brackets-pref-hints .hint-obj {
    display: inline-block;
    width: 250px;
}

.brackets-pref-hints .hint-description {
    line-height: 1.3;
    display: none;
    width: 250px;
    padding-bottom: 3px;
    padding-left: 14px;
    white-space: pre-wrap;
    color: #6e6e64;
}

.dark .brackets-pref-hints .hint-description {
    color: #ccc;
}

.highlight .brackets-pref-hints .hint-description {
    display: block;
}
.highlight .brackets-pref-hints .hint-obj.marquee {
    -webkit-animation: marquee 5s linear infinite alternate 1s;
    animation: marquee 5s linear infinite alternate 1s;
}

@-webkit-keyframes marquee {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-75%);
    }
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-75%);
    }
}