a {
  text-decoration: none;
  color: #008fe2;
}
a:hover {
  text-decoration: underline;
}
details,
summary {
  display: block;
}
.no-details summary:hover,
.no-details summary:focus {
  background: #ddd;
}
.no-details details > * {
  display: none;
}
.no-details details summary {
  display: block;
}
summary {
  cursor: pointer;
}
body {
  font-family: source-sans-pro;
  color: #363a3a;
  background: #f7f7f7;
}
body > header h1 {
  padding: 24px 0;
  font-size: 40px;
  text-align: center;
}
body > header h1 img {
  vertical-align: center;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
body > header .hero {
  background: #008fe2;
  padding: 50px 0;
  text-align: center;
  color: #fff;
}
body > header .hero h2 {
  font-size: 72px;
  text-shadow: -3px 3px 0 rgba(16,107,153,0.6);
  text-transform: uppercase;
  margin-bottom: 30px;
}
body > header .hero img {
  margin-right: 20px;
}
body > header .hero section {
  display: inline-block;
  width: 280px;
  vertical-align: top;
}
body > header .hero section h3 {
  font-size: 20px;
  margin: 0 0 16px;
  text-align: left;
  font-weight: 500;
}
body > header .hero section p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 300;
}
body > footer {
  text-align: center;
  font-size: 12px;
  padding: 30px 0 10px;
  clear: both;
}
#getting-started,
#get-coding {
  padding: 40px 0 0;
  text-align: center;
}
#getting-started h2,
#get-coding h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
#getting-started article,
#get-coding article {
  display: inline-block;
  width: 160px;
  height: 200px;
  font-size: 14px;
  text-align: left;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  vertical-align: top;
  margin: 0 -5px -1px 0;
}
#getting-started h3,
#get-coding h3 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px;
  font-weight: normal;
}
#getting-started p,
#get-coding p {
  margin-bottom: 12px;
}
#getting-started ul {
  list-style: none;
}
#getting-started ul li {
  margin: 0 0 10px 10px;
  text-indent: -10px;
}
#getting-started .videos {
  width: 360px;
}
#getting-started .videos .video {
  display: inline-block;
  margin-right: 6px;
}
#get-coding p.description {
  width: 400px;
  display: inline-block;
  text-align: left;
}
#starter-issues {
  float: left;
}
#starter-features {
  float: right;
}
#starter-issues,
#starter-features {
  width: 49%;
  max-width: 470px;
  min-width: 300px;
  position: relative;
  margin: 30px auto;
}
#starter-issues article,
#starter-features article {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto -1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#starter-issues article h3,
#starter-features article h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  text-align: left;
}
#starter-issues article .content,
#starter-features article .content {
  height: block;
  margin-bottom: 5px;
}
#starter-issues article .content pre,
#starter-features article .content pre {
  font-family: source-sans-pro;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 20px;
}
#starter-issues article footer .date,
#starter-features article footer .date,
#starter-issues article footer .vote-count,
#starter-features article footer .vote-count {
  float: right;
}
#lists {
  width: 100%;
  max-width: 800px;
  text-align: left;
  position: relative;
  margin: 0 auto;
}
@media only screen and (max-width:820px) {
  #starter-issues,
  #starter-features {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width:450px) {
  body > header .hero h2 {
    font-size: 40px;
  }
  #content article,
  #getting-started .videos {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #getting-started article,
  #get-coding article {
    height: auto;
  }
  #getting-started iframe {
    width: 100%;
  }
  #get-coding p.description {
    width: 96%;
  }
  #getting-started article,
  #get-coding article {
    margin-right: 0;
  }
  body > header .hero section h3 {
    margin-top: 20px;
  }
}
