[submodule "src/thirdparty/CodeMirror2"]
	path = src/thirdparty/CodeMirror2
	url = https://github.com/adobe/CodeMirror2.git
[submodule "src/thirdparty/path-utils"]
	path = src/thirdparty/path-utils
	url = https://github.com/jblas/path-utils.git
[submodule "src/thirdparty/smart-auto-complete"]
	path = src/thirdparty/smart-auto-complete
	url = https://github.com/laktek/jQuery-Smart-Auto-Complete.git
[submodule "src/thirdparty/mustache"]
	path = src/thirdparty/mustache
	url = https://github.com/janl/mustache.js.git
[submodule "src/extensions/default/JavaScriptCodeHints/thirdparty/tern"]
	path = src/extensions/default/JavaScriptCodeHints/thirdparty/tern
	url = https://github.com/marijnh/tern.git
[submodule "src/extensions/default/JavaScriptCodeHints/thirdparty/acorn"]
	path = src/extensions/default/JavaScriptCodeHints/thirdparty/acorn
	url = https://github.com/marijnh/acorn.git
