[submodule "src/thirdparty/CodeMirror2"]
	path = src/thirdparty/CodeMirror2
	url = git@github.com:adobe/CodeMirror2.git
[submodule "src/thirdparty/path-utils"]
	path = src/thirdparty/path-utils
	url = git@github.com:jblas/path-utils.git
[submodule "src/thirdparty/jslint"]
	path = src/thirdparty/jslint
	url = git@github.com:douglascrockford/JSLint.git
[submodule "src/thirdparty/live-development"]
	path = src/thirdparty/live-development
	url = https://github.com/jobrandt/live-development.git
