##
# Config for Mozilla's Bramble adaptation of Brackets
#

## Which branch is considered master?
export BRAMBLE_MAIN_BRANCH="bramble"

## Which remote is considered upstream?
export BRAMBLE_MAIN_REMOTE="upstream"


