ul, li
	margin 0
	padding 0
	border 0
	outline 0
	font-size 100%
	vertical-align baseline
	background transparent


.button-bar
	list-style none
	border 1px solid rgba(0,0,0,0.3)
	-webkit-border-radius 3px
	-moz-border-radius 3px
	border-radius 3px
	display inline-block
	font-weight 400
	-webkit-font-smoothing subpixel-antialiased
	li
		display inline-block
		margin-left -3px
	a
		text-decoration none
		color #454545
		display block
		padding 3px 7px 5px
		height 15px
		font-size 12px
		text-shadow 0 1px #FFF
		background-color #f5f9fa
		background-image -webkit-gradient(linear, left top, left bottom, from(rgb(245, 249, 250)), to(rgb(227, 229, 230)))
		background-image -webkit-linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230))
		background-image linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230))
		border-right 1px solid #bcbcbc
		margin-left -3px
		-moz-box-shadow    inset 0 1px 1px #FFF
		-webkit-box-shadow inset 0 1px 1px #FFF
		box-shadow         inset 0 1px 1px #FFF
	a:hover
		background-color #ffffff
		background-image -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(244, 246, 247)))
		background-image -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247))
		background-image linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247))
	li:first-child
		margin-left 0
		a
			margin-left 0
			-webkit-border-top-left-radius 3px
			-webkit-border-bottom-left-radius 3px
			-moz-border-radius-topleft 3px
			-moz-border-radius-bottomleft 3px
			border-top-left-radius 3px
			border-bottom-left-radius 3px
	li:last-child a
		border-right none
		-webkit-border-top-right-radius 3px
		-webkit-border-bottom-right-radius 3px
		-moz-border-radius-topright 3px
		-moz-border-radius-bottomright 3px
		border-top-right-radius 3px
		border-bottom-right-radius 3px
	li.selected a
		background #e5e7e8
		cursor default
	li.disabled a
		cursor default
		color hsla(0, 0%, 27%, 0.4)
		background-color hsla(192, 33%, 97%, 0.4)
		background-image -webkit-gradient(linear, left top, left bottom, from(rgba(245, 249, 250, 0.4)), to(rgba(227, 229, 230, 0.4)))
		background-image -webkit-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4))
		background-image -moz-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4))
		background-image -o-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4))
		background-image -ms-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4))
		background-image linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4))