corner-radius = 3px
white-shadow = 0 1px 0px #FFF
dark-top-border = inset 0 1px 1px rgba(0,0,0,0.4)
checkerboard()
	background-color #FFF
	background-image -webkit-linear-gradient(45deg, #CDCDCD 25%, transparent 25%, transparent 75%, #CDCDCD 75%, #CDCDCD), -webkit-linear-gradient(45deg, #CDCDCD 25%, transparent 25%, transparent 75%, #CDCDCD 75%, #CDCDCD)
	-webkit-background-size 8px 8px
	background-position 4px 4px, 0 0
body
	background #EAEAEA

.coloreditor
	padding 20px 0
	margin-left 20px
	-webkit-user-select none
	.saturation-luminosity-block
		width 150px
		height 150px
		position relative
		display inline-block
		margin-right 10px
		cursor crosshair
		border-radius corner-radius
		box-shadow white-shadow
		.saturation-gradient, .luminosity-gradient, .hue-block
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			border-radius corner-radius
			pointer-events none
		.saturation-gradient
			background-image -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 1.00)), to(rgba(255, 255, 255, 0.00)))
		.luminosity-gradient
			background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 1.00)))
			box-shadow dark-top-border
		.selector
			width 11px
			height 11px
			box-shadow 0 0 0 3px rgb(255,255,255), 0 0 2px 3px rgba(0,0,0,0.7), inset 0 0 2px 0 rgb(0,0,0,)
			margin -5px -5px -6px -5px
			position absolute
			border-radius 5px
			pointer-events none
	.hue-slider, .opacity-slider
		width 12px
		height 150px
		display inline-block
		margin-right 10px
		border-radius corner-radius
		box-shadow white-shadow
		box-shadow dark-top-border
		position relative
		.selector
			width 12px
			height 4px
			border 3px solid #FFF
			box-shadow 0 0 2px 0 rgba(0,0,0,0.7), inset 0 0 2px 0 rgb(0,0,0,)
			position absolute
			margin -4px -3px -5px
			border-radius 3px
			pointer-events none
	.hue-slider
		background-image: -webkit-linear-gradient(top, #F00, #F0F, #00F, #0FF, #0F0, #FF0, #F00)
	.opacity-slider
		position relative
		.opacity-background, & .opacity-gradient
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			border-radius corner-radius
		.opacity-gradient
			box-shadow dark-top-border
		.opacity-background
			checkerboard()
	.lower-controls
		position relative
		.button-bar
			position relative
			top -8px
		.color-indicator
			width 74px
			height 25px
			checkerboard()
			position relative
			border-radius corner-radius
			display inline-block
			margin 10px 10px 0 0
			.selected-color, & .original-color
				width 50%
				height 100%
				position absolute
				top 0
				box-shadow white-shadow, dark-top-border
			.selected-color
				left 0
				-webkit-border-top-left-radius corner-radius
				-webkit-border-bottom-left-radius corner-radius
			.original-color
				right 0
				-webkit-border-top-right-radius corner-radius
				-webkit-border-bottom-right-radius corner-radius

@import button-bar