html, body {

}

main {
  display: -webkit-flex;
  display: flex;

  width: 100%;
  background: lightgrey;
}

.pane {
  -webkit-flex: 1;
          flex: 1;

  min-height: 400px;
  flex: flex-grow;
  margin: 1px;
  padding: 0;
  border: none;
}

textarea {
  margin: 0;
}

iframe {
  min-height: 400px;
  width: 100%;
  border: none;
  margin: 0;
  background: white;
}
