#project-dropdown {
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
    border: none;
}
.dropdown-arrow {
    display: inline-block;
    width: 5px;
    height: 10px;
    margin-left: 4px;
    background-image: url("down-arrow.svg");
    position: relative;
    top: 1px;
}

.trash-icon {
    position: absolute;
    left: 7px;
    width: 16px;
    height: 16px;
    background-image: url("close-btn.svg");
    background-position: 0 0;
}
.trash-icon:hover {
    background-position: -15px 0;
}

#project-dropdown-toggle {
    border: 1px solid transparent;
    display: inline-block;
    /* adjust margins to keep position #project-title position stable after extension is loaded */
    margin: -3px 0px -2px -6px;
    overflow: hidden;
    padding: 0 5px;
    white-space: nowrap;
}

#project-title {
    /* vertical align center text */
    height: 21px;
    line-height: 21px;
}

#project-dropdown-toggle:hover {
    border-radius: 3px;
    border: 1px solid #2d2f31;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    text-decoration: none;
}
#project-dropdown-toggle:hover .dropdown-arrow {
    background-image: url("down-arrow.svg");
}

#project-dropdown.dropdown-menu:focus {
    outline: none;
}

/* TODO: style the dropdown content */
#project-dropdown.dropdown-menu {
    position: absolute;
    display: block;
    max-width: none;
    z-index: 100;
}

#project-dropdown.dropdown-menu .divider {
    margin: 5px 1px;
}

.recent-folder-link, .recent-folder, .recent-folder-path {
    white-space: nowrap;
}

#project-dropdown.dropdown-menu li a {
    padding: 5px 15px;
}

#project-dropdown.dropdown-menu .recent-folder-link, #project-dropdown.dropdown-menu #open-folder-link {
	display: block;
	padding: 5px 26px 5px 26px;
}

.recent-folder, #open-folder-link {
    color: #454545;
}

.recent-folder-path {
    color: #aaa;
}

#project-dropdown.dropdown-menu a.selected {
     background: #E0F0FA;
}
#project-dropdown.dropdown-menu a:not(.selected):hover {
     background: none;
}
