// General
@bc-bg-highlight:               #288edf;
@bc-bg-status-bar:              #1c1c1e;
@bc-disabled-opacity:           0.3;
@bc-error:                      #f74687;

// Highlights and Shadows
@bc-highlight:                  rgba(255, 255, 255, 0.06);
@bc-highlight-hard:             rgba(255, 255, 255, 0.7);
@bc-shadow:                     rgba(0, 0, 0, 0.24);
@bc-shadow-large:               rgba(0, 0, 0, 0.5);
@bc-shadow-small:               rgba(0, 0, 0, 0.06);

// Border Radius
@bc-border-radius:              3px;
@bc-border-radius-large:        5px;
@bc-border-radius-small:        2px;

// Menu
@bc-menu-bg:                    #000;
@bc-menu-text:                  #fff;
@bc-menu-separator:             #343434;

// Warning
@bc-warning-bg:                 #fdf5cc;
@bc-warning-text:               #635301;

// Text
@bc-text:                       #ddd;
@bc-text-alt:                   #fff;
@bc-text-emphasized:            #fff;
@bc-text-link:                  #6bbeff;
@bc-text-quiet:                 #aaa;
@bc-text-thin:                  #fff;
@bc-text-thin-quiet:            #bbb;

// Panel
@bc-panel-bg:                   #2c2c2c;
@bc-panel-bg-alt:               #333;
@bc-panel-bg-promoted:          #1f1f1f;
@bc-panel-bg-hover:             rgba(255, 255, 255, 0.12);
@bc-panel-bg-hover-alt:         rgba(0, 0, 0, 0.04);
@bc-panel-bg-selected:          #494a4b;
@bc-panel-bg-text-highlight:    #000;
@bc-panel-border:               rgba(255, 255, 255, 0.1);
@bc-panel-separator:            #343434;

// Default Button
@bc-btn-bg:                     #4d4d4d;
@bc-btn-bg-down:                #222;
@bc-btn-bg-down-alt:            #404141;
@bc-btn-border:                 #202020;
@bc-btn-border-error:           #fa689d;
@bc-btn-border-error-glow:      transparent; //#ffb0cd
@bc-btn-border-focused:         #2893ef;
@bc-btn-border-focused-glow:    transparent; //#94ceff
@bc-btn-triangle:               #aaa;
@bc-input-bg:                   #555;

// Primary Button
@bc-primary-btn-bg:             #288edf;
@bc-primary-btn-bg-down:        #0380e8;
@bc-primary-btn-border:         #001c31;

// Secondary Button
@bc-secondary-btn-bg:           #68b400;
@bc-secondary-btn-bg-down:      #539500;
@bc-secondary-btn-border:       #0f1a00;

// Sidebar
@bc-sidebar-bg:                 #3C3F41;
@bc-sidebar-selection:          #2D2E30;

.dropdown-arrow {
    display: inline-block;
    width: 7px;
    height: 5px;
    margin-left: 4px;
    background-image: url("down-arrow.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 0;
}

.trash-icon {
    position: absolute;
    left: 7px;
    width: 16px;
    height: 16px;
    font-size: 20px;
    color: @bc-menu-text;
    line-height: 15px;
    text-align: center;
}

.trash-icon:hover {
    color: @bc-text-thin;
}

#project-dropdown-toggle {
    display: inline-block;
    /* adjust margins to keep position #project-title position stable after extension is loaded */
    margin: -3px 0px -2px -6px;
    overflow: hidden;
    padding: 0 5px;
    white-space: nowrap;
}

#project-title {
    /* vertical align center text */
    height: 21px;
    line-height: 21px;
}

#project-dropdown-toggle:hover .dropdown-arrow {
    background-image: url("down-arrow.svg");
}

#project-dropdown.dropdown-menu:focus {
    outline: none;
}

/* TODO: style the dropdown content */
#project-dropdown.dropdown-menu {
    position: absolute;
    
    /* offset for better alignment with the button */
    margin-top: -1px;
    margin-left: 1px;
    
    display: block;
    max-width: none;
    z-index: 100;
}

#project-dropdown.dropdown-menu .divider {
    margin: 5px 1px;
}

.recent-folder-link, .recent-folder, .recent-folder-path {
    white-space: nowrap;
}

#project-dropdown.dropdown-menu li a {
    padding: 5px 15px;
}

#project-dropdown.dropdown-menu .recent-folder-link, #project-dropdown.dropdown-menu #open-folder-link {
	display: block;
	padding: 5px 26px 5px 26px;
}

.recent-folder, #open-folder-link {
    color: @bc-menu-text;
}

.recent-folder-path {
    color: @bc-text-quiet;
}

#project-dropdown.dropdown-menu a.selected {
     background: @bc-bg-highlight;
}
#project-dropdown.dropdown-menu a:not(.selected):hover {
     background: none;
}
