.themeSettings td {
    padding: 2px;
}

.themeSettings .modal-body {
    min-height: 300px;
    max-height: 300px;
    padding: 4px;
}

.themeSettings .row {
    margin: 0px;
}

.themeSettings .label {
    padding: 4px !important;
}
