.panel {
    background: #232323;
    color: #9C9FA4;
    text-shadow: none;
}

#main-toolbar {
    background: #232323 !important;
}

#open-files-container li.selected a {
    color: #fff !important;
}

#open-files-container .extension, #open-files-container .directory {
    color: #909b9c !important;
}

#open-files-container li.selected .extension {
    // color: #000 !important;
}

#working-set-header {
    background: #121212 !important;
    color: #777 !important;
}

#open-files-container {
    background: #121212 !important;
}

.sidebar-selection {
    background: #00529b !important;
    border: none !important;
}

.sidebar-selection-triangle {
    background: #00529b !important;
    border: none !important;
}

.sidebar-selection-triangle.triangle-visible:before {
    display: none !important;
}

.jstree-brackets li.jstree-closed > a,
.jstree-brackets li.jstree-open > a {
    color: #909b9c !important;
}

.jstree-brackets li a.jstree-clicked,
.jstree-brackets li a.jstree-clicked .extension {
    // color: #000 !important;
}

.jstree-brackets li .extension {
    color: #909b9c !important;
}

#project-files-header {
    color: #e7e7e7 !important;
}
