/* Brackets Variables */

/* All paddings, gutters, etc. should be multiples of this */
@base-padding: 10px;

/* Common font sizes */
@title-font-size: 18px;  // headings such as the editor titlebar
@label-font-size: 14px;  // labels on buttons, menubar, etc.