@img-update-sprites:    url("images/updateSprites.svg");
@img-live-dev-sprites:  url("images/live_development_sprites.svg");
@img-active-back:       url("images/active_back.png");
@img-js-tree-sprites:   url("images/jsTreeSprites.svg");
@img-close-btn:         url("images/close_btn.svg");
@img-throbber:          url("images/throbber.gif");