/* Brackets mixins */

.box {
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.hbox {
    .box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}
.vbox {
    .box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.box-flex(@ratio) {
    -webkit-box-flex: @ratio;
    -moz-box-flex: @ratio;
    box-flex: @ratio;
}
.box-pack(@pack) {
    -webkit-box-pack: @pack;
    -moz-box-pack: @pack;
    box-pack: @pack;
}
.box-align(@align) {
    -webkit-box-align: @align;
    -moz-box-align: @align;
    box-align: @align;
}
.sane-box-model {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.transition(@property:all, @duration:0s, @timing-function:ease, @delay:0s) {
    -webkit-transition: @property @duration @timing-function @delay;
    -moz-transition: @property @duration @timing-function @delay;
    -ms-transition: @property @duration @timing-function @delay;
    -o-transition: @property @duration @timing-function @delay;
    transition: @property @duration @timing-function @delay;
}
.radial-gradient(@position:center, @shape:ellipse, @size:cover, @start:rgba(0,0,0,1) 0%, @startPos:0%, @stop:rgba(0,0,0,0), @stopPos:100%) {
    background: -moz-radial-gradient(@position, @shape @size, @start @startPos, @stop @stopPos); /* FF3.6+ */
    background: -webkit-gradient(radial, @position @position, 0px, center center, 100%, color-stop(@startPos,@start), color-stop(@stopPos,@stop)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(@position, @shape @size, @start @startPos, @stop @stopPos); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(@position, @shape @size, @start @startPos, @stop @stopPos); /* Opera 12+ */
    background: -ms-radial-gradient(@position, @shape @size, @start @startPos, @stop @stopPos); /* IE10+ */
    background: radial-gradient(@position, @shape @size, @start @startPos, @stop @stopPos); /* W3C */
    filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )"; /* IE6-9 fallback on horizontal gradient */
}