/* Useful mixins */

.box {
	display: -webkit-box;
	display: -moz-box;
	display: box;	
}
.hbox {
	.box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
}
.vbox {
	.box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}
.box-flex(@ratio) {
	-webkit-box-flex: @ratio;
	-moz-box-flex: @ratio;
	box-flex: @ratio;
}
.box-pack(@pack) {
	-webkit-box-pack: @pack;
	-moz-box-pack: @pack;
	box-pack: @pack;
}
.box-align(@align) {
	-webkit-box-align: @align;
	-moz-box-align: @align;
	box-align: @align;
}

.sane-box-model {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Variables */

/* All paddings, gutters, etc. should be multiples of this */
@base-padding: 10px;

/* Path prefix for all images used in our CSS. (Note: unlike a normal CSS file, in runtime-processed
   LESS, image URLs are relative to the .html file, NOT to the .less file) */
@img: "styles/images";


/* General styles for Brackets elements */

.panel {
	.vbox;
	.box-flex(1);
	
	padding: 0;
	margin: 0;
	background: #d8e0e8;
	border-right: 1px solid #aaa;
}

.toolbar {
	.hbox;
	.box-align(center);
	
	height: 23px;
	padding: @base-padding;
  	border-bottom: 1px solid #aaa;
	#gradient > .vertical(#eee, #ccc);
	.box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.3));
}

.modal-footer .btn.left {
    float: left;
}

/* Overall layout */

html, body {
	height: 100%;
	overflow: auto;
}

body {
	.vbox;

	.topbar {
		position: static;
	}
}

.topbar-inner {
	/* We don't want to use the default .container in here, so we need to .clearfix the children. */
	.clearfix;
	
	.brand {
		.sane-box-model;
		margin-left: 0;
		width: 200px;
		padding-left: @base-padding;
		padding-right: @base-padding;
	}
}

.main-view {
	.hbox;
	.box-flex(1);
		
	.sidebar {
		.vbox;
		width: 200px;
	}

	.content {
		.vbox;
		.box-flex(1);
	}
}

/* #main-toolbar { */
.toolbar {
	/* make sure the shadow goes above other items */
	z-index: 1;
	.title {
		font-size: 1.2em;
		font-weight: bold;
		text-shadow: 0 1px #fff;		
	}
	.buttons {
		float: right;		
	}
}

#editor {
	.vbox;
	.box-flex(1);
	
	.CodeMirror {
		.vbox;
		.box-flex(1);
	}
	.CodeMirror-scroll {
		.box;
		.box-flex(1);
	}
	.CodeMirror-lines {
		padding: @base-padding;
	}
}

/* Project panel */

#projects .toolbar {
	.picker {
		.box;
		.box-flex(1);
	}
}

#project-file-area {
	.vbox;
	.box-flex(1);
	margin: 5px 0px 5px 0px;

	.file-area-title {
		font-weight: bold;
		vertical-align: middle;		
	}
	
	hr {
		margin: 4px 0px 4px 0px
		border: 1px;
		border-top-style: inset;
		border-right-style: none;
		border-bottom-style: inset;
		border-left-style: none;
	}
}

.project-file-area-header {
	padding: 0px 0px 0px 4px;
	margin: 0px;
}

#open-files-container {
	.box-flex(0);
	margin: 0px;
  	padding: 0px;
	overflow: auto;
	
	ul {
		list-style-type: none;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 5px;
		
		a {
			color: black;
			text-decoration: none;
			margin-left: 30px;
		}
		
		li {
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 2px;
			
			&:hover {
				background: #E7F4F9;
			}
			
		} 
		
		
		
		.clicked {
			background-color: #0065BE;
			background-repeat: repeat-x;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fa3e0), color-stop(100%, #0065be));
		
			a {
				color: white;
			}
		}
	}
	
	
}

#project-files-container {
	.box-flex(1);
	margin: 0px 0px 0px 12px;
  	padding: 0;
	overflow: auto; /* show scrollbars */
	
	ul {
		margin-top: 5px;
	}
}

.closed-file-area {
	height: @jsTreeSpriteSize;
}

.jsTreeSprite {
	background-image: url("styles/images/jsTreeSprites.png");
	background-repeat: no-repeat;
	background-color: transparent;

}

@jsTreeSpriteSize: 18px;

/* Ty question, should this be moved inside open-files-container */
.disclosure-arrow-opened {
	.jsTreeSprite;
	
	display: inline-block;
	width: @jsTreeSpriteSize;
	height: @jsTreeSpriteSize;
	vertical-align: middle;
	background-position: -@jsTreeSpriteSize 0px;
}

.disclosure-arrow-closed {
	.disclosure-arrow-opened;
	background-position: 0px 0px;
}


.close-file-icon {
	.jsTreeSprite;
	
	display: inline-block;
	width: @jsTreeSpriteSize;
	height: @jsTreeSpriteSize;
	vertical-align: middle;
	background-position: -@jsTreeSpriteSize (-3*@jsTreeSpriteSize);
}


.close-file-hidden {
	display: none; 
}

