/* Brackets Fonts */

/* Alternative weights */

@font-weight-semibold: 500;
@font-weight-light: 200;


/* SourceSansRegular */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/SourceSans/SourceSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/* SourceSansLight */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/SourceSans/SourceSans-Light.ttf');
    font-weight: @font-weight-light;
    font-style: normal;
}


/* SourceSansSemibold */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/SourceSans/SourceSans-Semibold.ttf');
    font-weight: @font-weight-semibold;
    font-style: normal;
}


/* Font Stacks */

@fontStackSansSerif: 'SourceSans', Helvetica, Arial, sans-serif;
