/* Brackets Fonts */

@font-face {
    font-family: 'InconsolataMedium';
    src: url('styles/fonts/inconsolata/inconsolata-webfont.eot');
    src: url('styles/fonts/inconsolata/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/inconsolata/inconsolata-webfont.woff') format('woff'),
         url('styles/fonts/inconsolata/inconsolata-webfont.ttf') format('truetype'),
         url('styles/fonts/inconsolata/inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
