/* Brackets Fonts */

/* Alternative weights */

@font-weight-semibold: 500;
@font-weight-light: 200;


/* SourceSansRegular */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/source-sans/sourcesans-regular-webfont.eot');
    src: url('styles/fonts/source-sans/sourcesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/source-sans/sourcesans-regular-webfont.woff') format('woff'),
         url('styles/fonts/source-sans/sourcesans-regular-webfont.ttf') format('truetype'),
         url('styles/fonts/source-sans/sourcesans-regular-webfont.svg#SourceSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* SourceSansLight */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/source-sans/sourcesans-light-webfont.eot');
    src: url('styles/fonts/source-sans/sourcesans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/source-sans/sourcesans-light-webfont.woff') format('woff'),
         url('styles/fonts/source-sans/sourcesans-light-webfont.ttf') format('truetype'),
         url('styles/fonts/source-sans/sourcesans-light-webfont.svg#SourceSansRegular') format('svg');
    font-weight: @font-weight-light;
    font-style: normal;
}


/* SourceSansSemibold */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/source-sans/sourcesans-semibold-webfont.eot');
    src: url('styles/fonts/source-sans/sourcesans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/source-sans/sourcesans-semibold-webfont.woff') format('woff'),
         url('styles/fonts/source-sans/sourcesans-semibold-webfont.ttf') format('truetype'),
         url('styles/fonts/source-sans/sourcesans-semibold-webfont.svg#SourceSansSemibold') format('svg');
    font-weight: @font-weight-semibold;
    font-style: normal;
}


/* Font Stacks */

@fontStackSansSerif: 'SourceSans', Helvetica, Arial, sans-serif;
