/* Menu item goes to next line due to float:right issue on Firefox */
@-moz-document url-prefix() {
	.context-menu .menu-shortcut {
		float: none;
		margin-left: auto;
	}
	.dropdown-menu li a {
		display: flex;
		flex-flow: space-between;
	}
}
