#selfie-use, #selfie-canvas {
    display: none;
}


#selfie-snap {
	width: 10%;
	height:0;
	padding-bottom: 10%;
  border-radius: 50%;
	border:5px solid #ea0000;
  overflow:hidden;
  margin: 0 auto;
    
    background: -webkit-radial-gradient(#f84b49, red); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#f84b49, red); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#f84b49, red); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#f84b49, red); /* Standard syntax (must be last) */
    
    box-shadow: 0 0 3px gray;
}

#selfie-snap:hover {
	background: #ea0000;
}

#selfie-snap:active {
	background: white;
}

.snap-button img {
    display: block;
    height: auto;
}

#selfie-liveView {
  display:inline-block;
  float:left;
}

#selfie-gallery {
  display:inline-block;
  float:left;
  margin-left:10px;
}

#icon {
	background-image: url("./glyphicons-12-camera.png");
	background-repeat: no-repeat;
	width:26px;
	height:20px;
	margin-left: 3px;
	margin-top: 5px;
}

.polaroid {
  position: relative;
  width: 220px;
  display:inline-block;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}