body {
    font-family: "Heiti TC", "LiHei Pro", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Arial Unicode MS", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

b, strong {
    font-weight: 700;
}

em {
    font-style: normal;
    font-weight: 700;
}

/* Last localized for a77e108a2950fb3676b20224f50cef0e3cb2e58a */
