.dropdown-arrow {
    display: inline-block;
    width: 10px;
    height: 8px;
    margin-left: 4px;
    background-image: url("down-arrow.svg");
}

.trash-icon {
	width: 16px;
	height: 16px;
	background-image: url("close_btn.svg");
	position: absolute;
}

#project-dropdown-toggle {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
}

#project-dropdown-toggle:hover {
    color: #a0a0a0;
    text-decoration: none;
}

/* TODO: style the dropdown content */
#project-dropdown.dropdown-menu {
    position: absolute;
    display: block;
    max-width: none;
    z-index: 100;
}

.recent-folder-link, .recent-folder, .recent-folder-path {
    white-space: nowrap;
}

#project-dropdown.dropdown-menu .recent-folder-link
{
	display: block;
	padding: 5px 26px 5px 15px;
}

.recent-folder, #open-folder-link, #project-settings-link {
    color: #333;
}

.recent-folder-path {
    color: #aaa;
}