.cm-string {
  color: #4f8eb2;
}
.cm-error {
  color: #ED488B !important;
}
.cm-meta,
.cm-comment {
  color: rgba(255, 255, 255, 0.3);
}
.cm-atom,
.cm-number,
.cm-link {
  color: #AE81FF;
}
.cm-property,
.cm-attribute,
.cm-keyword {
  color: #a0779f;
}
.cm-string.cm-property,
.cm-variable,
.cm-variable-2 {
  color: rgba(255, 255, 255, 0.85);
}
.cm-variable-3,
.cm-qualifier,
.cm-builtin {
  color: #A6E22E;
}
.cm-operator,
.cm-tag {
  color: #5ba87e;
}
.cm-bracket,
.cm-def {
  color: #5ba87e;
}
/**
 * User Interface
 * ==============
 *
 * @TODO Matching words
 * @TODO Scrollbars
 * @TODO Find highlights
 */
.CodeMirror-gutter:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  right: 0;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
  background: #222222;
  color: rgba(255, 255, 255, 0.85);
}
#not-editor,
#image-holder {
  background-color: #222;
  color: #F8F8F2;
  transition: background-color 0.3s ease-out;
}
.CodeMirror {
  border-left-color: #1B1B1B;
}
div.CodeMirror-selected {
  background: #444 !important;
}
.CodeMirror-gutters {
  background: #222222;
}
.CodeMirror-linenumbers {
  background: #222222;
}
.CodeMirror-guttermarker {
  color: #F8F8F2;
}
.CodeMirror-guttermarker-subtle {
  color: #272822;
}
.CodeMirror-linenumber {
  color: rgba(255, 255, 255, 0.3);
}
.CodeMirror-cursor {
  border-left: 1px solid #f8f8f0 !important;
}
.CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
  background: #373831 !important;
}
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
  color: #F8F8F2;
}
.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
  color: #767676;
}
.CodeMirror-matchingbracket {
  background-color: transparent !important;
  border-bottom: 1px solid;
  /* text-decoration: underline does not look that well with large font sizes */
  color: #FFF !important;
  padding-bottom: 0.166em;
}
.CodeMirror-matchingtag {
  background-color: rgba(56, 174, 113, 0.2);
}
/**
 * Extensions
 * ==========
 */
/*
 * Brackets-Vim (https://github.com/megalord/brackets-vim)
 * -------------------------------------------------------
 */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  background: rgba(248, 248, 242, 0.5) !important;
}
/**
 * Show Whitespace (https://github.com/DennisKehrig/brackets-show-whitespace)
 * --------------------------------------------------------------------------
 */
.CodeMirror .cm-dk-whitespace-space::before,
.CodeMirror .cm-dk-whitespace-tab::before,
.CodeMirror .cm-dk-whitespace-leading-space::before,
.CodeMirror .cm-dk-whitespace-leading-tab::before,
.CodeMirror .cm-dk-whitespace-trailing-space::before,
.CodeMirror .cm-dk-whitespace-trailing-tab::before {
  background-color: #75715E !important;
}
/**
 * Code Folding (https://github.com/thehogfather/brackets-code-folding)
 * --------------------------------------------------------------------
 */
.CodeMirror-foldgutter,
.CodeMirror-foldgutter,
.CodeMirror-foldgutter-blank,
.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
  color: #75715E;
}
.CodeMirror-foldgutter-open::after {
  content: "\25bc";
}
.CodeMirror-foldmarker {
  background-color: #333;
  border-color: #555;
  color: #555;
  padding: 0 10px;
}
.inline-widget .CodeMirror-gutter.CodeMirror-linenumbers,
.inline-widget .CodeMirror-gutter.CodeMirror-foldgutter {
  background-color: #1b1b1b !important;
}