/* SWATCHES ---------------------------------------------------------------------- */
span.cm-builtin {
  color: #00294a;
}
span.cm-def {
  color: #00294a;
}
span.cm-header {
  color: #00294a;
}
span.cm-meta {
  color: #00294a;
}
span.cm-operator {
  color: #00294a;
}
span.cm-qualifier {
  color: #00294a;
}
span.cm-atom {
  color: #008fff;
}
span.cm-link {
  color: #008fff;
}
span.cm-number {
  color: #008fff;
}
span.cm-string {
  color: #008fff;
}
span.cm-string-2 {
  color: #008fff;
}
span.cm-variable-2 {
  color: #008fff;
}
span.cm-variable-3 {
  color: #008fff;
}
span.cm-bracket {
  color: #002cb8;
}
span.cm-tag {
  color: #002cb8;
}
span.cm-attribute {
  color: #008d5c;
}
span.cm-property {
  color: #008d5c;
}
/* property after string */
span.cm-comment {
  color: #B1B1B1;
}
span.cm-error {
  color: #ff3da5;
}
span.cm-keyword {
  color: #002ea3;
}
span.cm-variable {
  color: #0056ba;
}
/* MISC ---------------------------------------------------------------------- */
.CodeMirror-linenumber {
  color: #CCC;
}

.inline-widget .CodeMirror-gutter.CodeMirror-foldgutter {
  background-color: #e6e9e9 !important;
}

.CodeMirror-gutter:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  right: 0;
  border-right: 1px solid #e6eff4;
}
.CodeMirror-scroll {
  background: #fff;
  color: #324a5b;
}
.CodeMirror-cursor {
  border-left: 1px solid #000 !important;
}
.CodeMirror-overwrite .CodeMirror-cursor {
  border-bottom: 1px solid #000 !important;
  border-left: none !important;
}
.CodeMirror-gutters {
  background: #fff;
}
/* Active Line */
.CodeMirror-activeline-background {
  background: #e7edf2 !important;
}
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
  color: #000;
  background-color: transparent !important;
}
/* Matching Brackets and Tags */
.CodeMirror-matchingbracket {
  background: #b2e7ff !important;
  color: #000 !important;
}
.CodeMirror-matchingtag {
  background: #cbeeff !important;
}
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
  color: #ff3da5 !important;
}
/* Search Match */
/*
.CodeMirror-searching {
    background-color: #ffcd2d;
    color: #000 !important;
}

.CodeMirror-searching.searching-current-match {
    background-color: #ff8500;
}
*/
/* Non-editor styling */
#image-holder,
#not-editor {
  background-color: #fff;
}
#image-holder {
  color: #4d6071;
}
