#quick-view-container {
    display: none;

    -webkit-transition: opacity 0.125s ease-in, -webkit-transform 0.125s;
    transition: opacity 0.125s ease-in, transform 0.125s;

    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
                                            
    background: #e0e1e3;
    position: absolute;
    z-index: 5000;
    pointer-events: none;
    
    padding: 8px;
    text-align: center;

    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25), inset 0 0 0 1px #a6a6a6, inset 0 0 0 2px #ebedec;
}

#quick-view-container.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

#quick-view-container .preview-content {
    background-image: url(preview_bg.png);
    border-radius: 2px;
    border: 1px solid #a6a8a8;
}


#quick-view-container .color-swatch {
    width: 40px;
    height: 40px;
    background-size: 100%;
}

#quick-view-container .image-preview {
    line-height: 0;
}

#quick-view-container .image-preview img {
    min-width: 100px;
    max-width: 200px;
    max-height: 200px;
}

#quick-view-container .img-size {
    background-color: #c8cac9;
    border-top: 1px solid #a6a8a8;
    font-size: 0.9em;
    color: #565656;
    padding-left: 3px;
    margin-top: 0;
    text-align: left;
    text-shadow: 0 1px 0px #e8e8e8;
}

#quick-view-container.preview-bubble-above {
    -webkit-transform-origin: center bottom;
}

#quick-view-container.preview-bubble-above:before {
    display: none;
}

#quick-view-container.preview-bubble-above:after {
    width: 24px;
    height: 14px;
    bottom: -12px;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -12px;
    background: url(point.svg) no-repeat center;
    z-index: 100;
    display: block;
}

#quick-view-container.preview-bubble-below {
    -webkit-transform-origin: center top;
}

#quick-view-container.preview-bubble-below:before {
    width: 24px;
    height: 14px;
    top: -12px;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -12px;
    background: url(point.svg) no-repeat center;
    z-index: 100;
    display: block;
    -webkit-transform: rotate(180deg);
}

#quick-view-container.preview-bubble-below:after {
    display: none;
}

.quick-view-highlight {
    background-color: rgba(200, 200, 150, 0.4); 
}
