@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: normal;
  src: local('Lora'), url('http://themes.googleusercontent.com/static/fonts/lora/v5/nAKwuw6_dIh5kwvpj3ShNfesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
