@font-family: "Heiti TC", "LiHei Pro", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Arial Unicode MS", sans-serif;
@color-headers: #000;
@is-rtl: false;
@font-weight-headers: 700;
@font-weight-bolds: 700;
@font-style-em: normal;
@font-weight-em: 700;
