@charset "utf-8";
#container {
	width: 100%;
}
#logo {
	background-image: url(../images/sml_logo.png);
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 270px;
}
nav {
	padding-top: 100px;
}
nav ul {
	font-size: 24px;
}
nav ul a {
	padding-right: 0;
	width: 97%;
}
nav ul li {
	float: none;
}
nav ul li:hover {
	margin-top: 0;
}
#maincontent {
	margin-top: 0;
	padding: 0;
}
#vision {
	background-image: none;
	font-size: 16px;
	height: auto;
	line-height: normal;
	padding-top: 0;
	width: 280px;
}
/* Uncomment the declarations in the following rules to hide the images in the pods. */
.pod {
	width: 305px;
	/*padding-bottom:0;*/
}
/*.pod h1 {
	margin-bottom:0;
}*/
.podContent {
	width: 302px;
	height: 180px;
	/*display:none;*/
}
/*#news .podContent {
	display:block;
}*/
footer p {
	margin-left: 5px;
}
#facebookTwitter {
	margin-right: 5px;
}