@charset "utf-8";
#container {
	width:700px;
}
#logo {
	background-image:url(../images/med_logo.png);
	height:100px;
}
nav {
	padding-top:110px;
}
nav ul {
	font-size:18px;
}
nav ul a {
	width:114px;
}
#maincontent {
	padding: 0;
	margin-left:5px;
	width: 700px;
}
#vision {
	background-image:url(../images/med_hero.jpg);
	width: 289px;
	height:217px;
	padding-top:45px;
	padding-right:350px;
	font-size:26px;
}
.pod {
	width: 305px;
}
.podContent {
	width: 302px;
	height:180px;
}
#events {
	margin-left:7px;
}
#news {
	width:650px;
	margin-top:20px;
}
footer p {
	margin-left:5px;
}
