html {
    color: "red";
}

HTML {
    color: "orange";
}

.firstGrade {
    color: "green";
}

.FIRSTGRADE {
    color: "yellow";
}

#JasonSanJose {
    color: "blue";
}

#jasonsanjose {
    color: "black";
}