#hover-preview-container {
    display: none;
    
    background: #e0e1e3;
    position: absolute;
    z-index: 5000;
    left: 200px;
    top: 40px;
    pointer-events: none;
    
    padding: 17px;
    text-align: center;


  border-radius: 5px;
/*border: 1px solid #A6A6A6;*/
  box-shadow: 0 4px 15px rgba(0,0,0,0.1), inset 0 0 0 1px #a6a6a6, inset 0 0 0 2px #ebedec;
}

#hover-preview-container .color-swatch-bg {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAChJREFUeNpiPHPmDAMMGBsbw9lMDDgA6RKM%2F%2F%2F%2Fh3POnj1LCzsAAgwAQtYIcFfEyzkAAAAASUVORK5CYII%3D');
/*    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10); */
}

#hover-preview-container .color-swatch {
    width: 100px;
    height: 100px;
    background-size: 100%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #a6a8a8;
}

#hover-preview-container .image-preview {
    width: 100px;
}

#hover-preview-container .image-preview img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: -5px;
}

#hover-preview-container .img-size {
    font-size: 0.85em;
    color: #aaa;
    margin-top: -5px;
}

#hover-preview-container.small-padding-bottom {
    padding-bottom: 3px;
}

/*
#hover-preview-container.preview-bubble-above, #hover-preview-container.preview-bubble-below {
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
*/

#hover-preview-container.preview-bubble-above:before {
  display: none;
}

#hover-preview-container.preview-bubble-above:after {
  width: 24px;
  height: 14px;
  bottom: -12px;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -12px;
  background: url("point.svg") no-repeat center;
  z-index: 100;
  display: block;
}


#hover-preview-container.preview-bubble-below:before {
 width: 24px;
  height: 14px;
  top: -12px;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -12px;
  background: url("point.svg") no-repeat center;
  z-index: 100;
  display: block;
  -webkit-transform: rotate(180deg);
}

#hover-preview-container.preview-bubble-below:after {
  display: none;
}

.hover-preview-highlight {
    background-color: rgba(200, 200, 150, 0.4); 
}
