article.content {
    flow-into: main;
}

section.layout > div {
    flow-from: main;
}


#jeff.content {
    flow-into: jeff;
}

#jeff.layout > div {
    flow-from: jeff;
}

/*
p.content {
    flow-into: carter;
}

p.layout > div {
    flow-from: carter;
}
*/

div {
    content: "/* p.content { flow-into: carter; } p.layout > div { flow-from: carter; } */"
}

/*
div.content {
    content: "flow-into: martin;"
}

div.layout > div {
    content: "flow-from: martin;"
}
*/
