div {
    color: green;
}

div{
    color: green;
}

div
{
    color: green;
}
/* spaces */
    div
{
    color: green;
}
/* tab */
	div
{
    color: green;
}

h3, h2, h1
{
    color: yellow;
}

    h3, h2, h1 
{
    color: yellow;
}