#notification-bar {
    display: block;
    background-color: #105F9C;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.53);
    padding: 5px 0px;
    width: 100%;
    position: absolute;
    z-index: 16;
    left: 0px;
    bottom: 25px;
    outline: none;
	overflow: hidden;
    color: rgb(51, 51, 51);
    background: rgb(223, 226, 226);
}

.dark #notification-bar {
    color: #ccc;
    background: #2c2c2c;
}

#notification-bar #content-container {
    padding: 10px 7px;
    float: left;
    width: 100%;
}

#notification-bar #close-icon {
    display: block;
    color: white;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    padding: 0px; /*This is needed to center the icon*/
	float: right;
}

#notification-bar #close-icon:hover {
    background-color: rgba(255, 255, 255 ,0.16);
    border-radius: 50%;
}

#notification-bar #close-icon:focus {
    background-color: rgba(255, 255, 255 ,0.16);
    border-radius: 50%;
    border: 1px solid #C3E3FF;
    outline: 0;
}

#notification-bar #close-icon:focus:active {
    background-color: rgba(255, 255, 255 ,0.32);
    border: none;
}
