.coloreditor
	.saturation-luminosity-block
		.saturation-gradient
		.luminosity-gradient
		.selector
	.hue-slider
		.selector
	.opacity-slider
		.opacity-background
		.opacity-gradient
		.selector
	.lower-controls
		.color-indicator
			.selected-color
			.original-color
		ul.button-bar
			li.selected
				a(href="#") Hex
			li
				a(href="#") RGB
			li
				a(href="#") HSL