/*!
 * Brackets
 *
 * TODO: Copyright Notice
 *
 * This file first imports all of the shared LESS/CSS, and then defines 
 * version-specific layout (e.g. layout for the App shell, or layout for
 * the In-Browser version on Firefox).
 *
 * Going forward, we may have different versions of this file for different
 * Versions (e.g. App, In-Browser, etc.)
 *
 * Anything that is general/reusable should be pushed up into a LESS file
 * in the "styles" directory. See "brackets_shared.less" for the organization
 * 
 * Date: @DATE
 */

/* IMPORTANT: importing brackets_shared should be the first step in this file
 * This is so that imported CSS files (NOT LESS files) end up in the
 * right place
 */
@import "styles/brackets_shared.less";

/* Overall layout */

html, body {
    height: 100%;
    overflow: hidden;
    
    /* Turn off selection for UI elements */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    /* And make sure we get a pointer cursor even over text */
    cursor: default;
}

body {
    .vbox;
    
    /* This appears to be necessary in Firefox when body is set to display: box. */
    width: 100%;

    .topbar {
        position: static;
    }
}

a, img {
    -webkit-user-drag: none;
}

.topbar-inner {
    /* We don't want to use the default .container in here, 
       so we need to .clearfix the children. */
    .clearfix;

    .brand {
        .sane-box-model;
        margin-left: 0;
        width: 200px;
        padding-left: @base-padding;
        padding-right: @base-padding;
    }
}

.main-view {
    .hbox;
    .box-flex(1);

    .sidebar {
        .vbox;
        width: 200px;
    }

    .content {
        .vbox;
        .box-flex(1);
    }
}

.toolbar {
    /* make sure the shadow goes above other items */
    z-index: 2;
    .title {
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 0 1px @bc-white;        
    }
    .buttons {
        float: right;       
    }
}

#editorHolder {
    .vbox;
    .box-flex(1);

    .CodeMirror-lines {
        padding: @base-padding;
    }
    
    /* Placeholder shown when there is no editor open */
    #notEditor {
        .box-flex(1);
        .vbox;
        .box-pack(center);
        .box-align(center);
        background-color: @background-color-2;
        
        #notEditorContent {
            color: @background-color-1;
            font-size: 350px;
            line-height: normal;
            margin-top: -0.25em;
            text-shadow: 0 1px @bc-black;
            opacity: 0.30;
        }
    }
}


/* Project panel */

#projects .toolbar {
    .picker {
        .box;
        .box-flex(1);
    }
}

#project-file-area {
	.vbox;
	.box-flex(1);
	margin: 5px 0px 5px 0px;
	
	.project-file-header-area {
		padding: 4px 4px 2px 0px;
		
		span {
			font-weight: bold;
			vertical-align: middle;		
		}
	}

	hr {
		margin: 0px 0px 0px 0px;
		border: 1px;
		border-top-style: inset;
		border-right-style: none;
		border-bottom-style: inset;
		border-left-style: none;
	}
}



#open-files-container {
	.box-flex(0);
	margin: 0px;
  	padding: 0px;
	overflow: auto;
	
	ul {
		list-style-type: none;
		margin: 5px 0px 0px 0px;
		
		a {
			color: black;
			text-decoration: none;
			margin-left: 26px;
		}
		
		li {
			padding: 4px 0px 4px 2px;
			
			position: relative; // so that children can be positioned absolute
			
			&:hover {
				background: #E7F4F9;
			}
			
			
			&.selected {
				background-color: #0065BE;
				background-repeat: repeat-x;
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fa3e0), color-stop(100%, #0065be));
		
				a { color: white; }
			
		} 
		
		
					
		}
		
	}
}

#project-files-container {
	.box-flex(1);
	margin: 0px 0px 0px 8px;
  	padding: 0;
	overflow: auto; /* show scrollbars */
	
	ul { margin-top: 5px; }
}

/** Classes for icons from jsTreeSprites.png 
*/

.jsTreeSprite {
	background-image: url("styles/images/jsTreeSprites.png");
	background-repeat: no-repeat;
	background-color: transparent;
	vertical-align: middle;
	width: @jsTreeSpriteSize;
	height: @jsTreeSpriteSize;
}

.bracketSprite {
	background-image: url("styles/images/bracketsSprites.png");
	background-repeat: no-repeat;
	background-color: transparent;
	vertical-align: middle;
	width: @jsTreeSpriteSize;
	height: @jsTreeSpriteSize;
}


@jsTreeSpriteSize: 18px;

.disclosure-arrow-opened {
	.jsTreeSprite;
	display: inline-block;
	background-position: -@jsTreeSpriteSize 0px;
}

.disclosure-arrow-closed {
	.jsTreeSprite;
	display: inline-block;
	background-position: 0px 0px;
}

.file-status-icon {
	margin: 0px 0px 0px 2px;
	.bracketSprite;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 3px;
	
	&.dirty {
		background-position: -@jsTreeSpriteSize 0;
	}
	
	&.canClose {
		background-position: 0px 0px;
	}
}




/* Styles for the search dialog--this is temporary, only for debugging */

.CodeMirror-dialog {
  position: relative;
}

.CodeMirror-dialog > div {
  font-family: sans-serif;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: @background-color-2;
  color: @content-color;
  border-bottom: 1px solid @bc-gray;
  .box-shadow(0 1px 3px 0 fadeout(@bc-black, 70%));
  z-index: 1;
  padding: .5em .8em;
  overflow: hidden;
}

.CodeMirror-dialog input {
  font-family: sans-serif;
  border: 1px solid @content-color-weaker;
  outline: none;
  background: @background-color-3;
  width: 20em;
  margin: .3em .3em;
  color: inherit;
}

.CodeMirror-searching {
  background-color: inherit;
}
