.jslint-disabled {
    font-size: 1em;
    color: #808080;
}

.jslint-errors {
    font-size: 1em;
    color: #dc322f;
}

.jslint-valid {
    font-size: 1em;
    color: #FFC81C;
}

#jslint-results .line { /* To make the line number line up with editor line numbers */
    text-align: right;
    width: 30px;
}
