#status-indicators #jslint-status {
    border: none;
    width: 13px;
}

.jslint-disabled {
    background: url(images/topcoat-inactive-15.svg) 9px 5px no-repeat;
    pointer-events: none;
    cursor: default;
}

.jslint-errors {
    background: url(images/topcoat-warning-15.svg) 9px 5px no-repeat;
    cursor: pointer;
}

.jslint-errors:active {
    opacity: 0.5;
}

.jslint-valid {
    background: url(images/topcoat-okay-15.svg) 9px 5px no-repeat;
    pointer-events: none;
    cursor: pointer;
}

#jslint-results .line { /* To make the line number line up with editor line numbers */
    text-align: right;
}
