{{0}}div {
    margin: 0;
    padding: 0;
}
{{4}}
{{1}}.foo {
{{5}}    color: #f00;
{{6}} }{{3}}
{{7}}
{{8}}.bar {
        background-image: url(fu.bar);
}

@keyframes colorize {
    from {
        -webkit-filter: grayscale(100%);
    }
    to {
        -webkit-filter: grayscale(0%);
    }
}

{{2}}#myDiv {
    display: block;
}