.http a span.extension:after,
.https a span.extension:after {
    margin-left: 5px;
    border: 1px solid;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 11px;
    color: #adb9bd;
}

.http a span.extension:after {
    content: "http";
}

.https a span.extension:after {
    content: "https";
}




